#filterForm {
    width: 45%;
    margin: 0px auto;
}

#searchText {
    width: 90%;
    margin: 15px 0px;
}

#filterDate  {
    margin-top: 10px;
}

#filterDate  {
    margin-top: 10px;
}

#filterDate label {
    margin-right: 35px;
}